@(elements: views.html.helper.FieldElements)

@import play.api.i18n._
@import views.html.helper._
@import helpers.StringHelper._

@**************************************************
* Generate input according twitter bootsrap rules *
**************************************************@

<div class="control-group @if(elements.hasErrors) {error}">
    <label class="control-label" for="@elements.id">@splitCamelCase(elements.label(elements.lang))
    @{val isRequired = elements.field.constraints.exists( _._1 == "constraint.required"); if(!isRequired) " (Optional)"}</label>
    <div class="controls">
        @{elements.input}
        <span class="help-inline">@elements.errors(elements.lang).mkString(", ")</span>
    </div>
</div>